*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    button{
        cursor: pointer;
    }
}


header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
    .word{
        position: absolute;
        top: 40%;
        left: 14%;
        button{
            width: 161px;
            height: 46px;
            border-radius: 21px;
            background-color: #6c7ae0;
            transition: background-color 0.4s ease;
            color: white;
            border: none;
            &:hover{
                background-color: rgb(0, 0, 0);
            }
        }
        p{
            font-size: 33px;
        }
        h1{
            font-size: 66px;

        }
    }
    .imgz{
        width: 100%;
        height: 600px;
    }

    .navz{
        position: absolute;
        top: 0%;
        width: 90%;
        gap: 21px;
        ul{
            gap: 33px;
            a{
                color: rgb(64, 64, 64);
                transition: color 0.4s ease;
                font-weight: 600;
                &:hover{
                    color: #6c7ae0;
                }
            }
        }
        .i1{
            display: flex;
            justify-content: end;
            align-items: center;
            width: 100%;
            height: auto;
            gap: 40px;
            #cartz{
                position: relative;

                #cars{
                    position: absolute;
                    top: -40%;
                    right: -77%;
                    color: white;
                    background-color: #6c7ae0;
                    padding: 3px;
                    border-radius: 50%;
                    font-size: 10px;
                }
            }
           
        }
    }
}


main{
    padding-top: 21px;
    padding-bottom: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 40px;

    #productz{
        padding-top: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: auto;
        flex-wrap: wrap;
        gap: 7px;
        .divz{
            width: 100%;
        }

    }
    .frm{
        padding-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        form{
            display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 21px;
        width: 66%;
        input{
            width: 40%;
            height: 40px;
            border-radius: 7px;
            border: 1px solid gainsboro;
            padding: 14px;
        }
        button{
                width: 40%;
                height: 40px;
                border-radius: 7px;
                border: 1px solid gainsboro;
                color: white;
                background-color: #6c7ae0;
                transition: background-color 0.4s ease;
                &:hover{
                    background-color: #222222;
                }
        }
        }
    }
    .sec1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        flex-direction: column;
        gap: 21px;

        button{
            width: 133px;
            height: 40px;
            border-radius: 21px;
            background-color: #000000;
            transition: background-color 0.4s ease;
            color: white;
            border: none;
            &:hover{
                background-color: #6c7ae0;
            }
        }
        #product{
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 14px;
            width: 90%;
            height: 90%;
            font-weight: 600;
            color: rgb(157, 157, 157);
            flex-wrap: wrap;
            .boxs{
                width: 21%;
            }
            .divz{
                width: 100%;

                        button{
                width: 133px;
                height: 40px;
                border-radius: 21px;
                background-color: #6c7ae0;
                transition: background-color 0.4s ease;
                color: white;
                border: none;
                &:hover{
                    background-color: rgb(0, 0, 0);
                }

            }
            .divc{
                width: 100%;
                display: flex;
                justify-content: space-between;
                img{
                    width: 100%;
                    height: 100%;
                }
                i{
                    color: gray;
                    font-size: 33px;
                    &:hover{
                        color: #6c7ae0;
                    }
                }
            }
            }
          
    
           
        }

    }

    .man{
        width: 90%;
        height: 90%;
        position: relative;
        border: 1px solid gainsboro;

        
        }
        img{
            width: 100%;
            height: 100%;
        }
        .wrd{
            position: absolute;
            top: 14%;
            left: 7%;
        }
  
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 99px;
    background-color: #222222;
    p{
        color: white;
    }
    .troy{
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;
        img{
            width: 35px;
            height: 23px;
            border-radius: 3px;
        }
    }
}

@media only screen and (max-width: 800px) {
    main{
        .sec1{
            #product{
                flex-direction: column;
                .boxs{
                    width: 50%;
                   
                }
            }
        }
       
    }
  }